# Environment files
.env
.env*.local
*.env

# Dependencies
node_modules/
*/node_modules/

# Build outputs
build/
*/build/
dist/
*/dist/
.amplify-hosting/
*/.amplify-hosting/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
